﻿body {
    background-color: white;
}


.frame {
    background-color: aliceblue;
    border: 0.2em solid black;
    height: 22em;
    width: 22em;
    float: left;
    margin: 2.5em;
    padding: 2em 2em 2em 2em;
    border-radius: 1em;
    position: relative;
}

.image {
    max-height: 80%;
    max-width: 80%;    
    position: absolute;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.frame:hover {
    transform: rotate(90deg);
}
